@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbtn {
    @apply bg-[#292c2d] text-white w-[5rem] text-center rounded-full py-[5px] hover:bg-[#e3ff32] hover:text-black duration-100 ease-out cursor-pointer;
  }
  .navbtn2 {
    @apply bg-[#e3ff32] w-[5rem] text-center rounded-full py-[3px]  cursor-pointer;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
